/** CSS STYLE **/
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/*----------ОБЩИЕ НАСТРОЙКИ КОНТЕЙНЕРА-------------------*/
.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1110px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
}

:root {
  --color-white: #fff;
  --color-white_translucent: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main_dark: #42413c;
  --color-dark: #2a2626;
  --color-dark_translucent: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

.black-color {
  color: var(--color-dark);
}

.header-font {
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
  font-weight: normal;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/*----------ЗАГОЛОВОК-------------------*/
.header{

}

.header_header-block {

}

.header-block {
  position: relative;
}

.header-block_container {

}

.header-block_body {
  position: relative;
  max-width: 1110px;
}

.header-block_title {
  height: 184px;
  color: var(--color-main);
  position: relative;
  top: 50px;
}

.header-block_image {
  height: 525px;
  width: 1082px;
  position: relative;
  left: 280px;
  bottom: 250px;
}

.header-block_text {
  position: absolute;
  bottom: 70px;
  display: flex;
  align-items: flex-start;
}

.header-block_text p {
  width: 550px;
}

.header-block_text p:last-child {
padding-left: 30px;
}

.header-block_button {
  position: relative;
  left: 580px;
  background: var(--color-main);
  width: 148px;
  height: 49px;
  font-weight: bold;
  text-align: center;
}

.header-block_button_text{
  color: var(--color-white);
  text-decoration: none;
}


.header-block_background {
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 10%;
  background: var(--color-white_translucent);
  color: var(--color-light);
  text-decoration: none;
}

/*----------ОСНОВНАЯ ЧАСТЬ-------------------*/
.main{
  flex: 1 1 auto;
}
/*----------ПОДВАЛ-------------------*/
